<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
 <name replace-wildcards="yes">rsync on %h</name>
   <service>
      <type>_rsync._tcp</type>
	<port>873</port>
</service>
</service-group>
