body {
	background-image: url("../images/backgroundCube.png");
}

#outerContainer {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 70%;
	height: 90%;
	border-width: 5px;
	border-style: solid;
	border-color: #000000;
	border-radius: 10px;
	background:rgba(255,255,255,0.75);
}

#header {
	height: 30%;
	background-image: url("../images/buildings.jpg");
	background-position: right bottom;
	border-radius: 4px 4px 0px 0px;
}

.formDiv {
	height: 60%;
	padding: 2%;
}