body {
	background-image: url("../images/backgroundCube.png");
	font-family: sans-serif;
	background: black;
	color: white;
	margin: 0;
	text-align: center;
}

header {
	height: 30%;
	background-image: url("../images/buildings.jpg");
	background-position: right bottom;
}

.formDiv {
	height: 60%;
	padding: 2%;
	max-width: 280px;
	margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="submit"] {
	padding: .5em 1em;
	border: 2px solid #1B9AF7;
}

input[type="text"], input[type="password"] {
	border: 2px solid #1B9AF7;
}

input[type="submit"] {
	background: none;
	line-height: normal;
	outline: 0;
	color: white;
}

input {
	font-size: 14;
	border-radius: 8px;
	margin-bottom: 5px;
}