<div id="check-for-updates">
  <div class="message">
    <p>Update {{#if updateAvailable}}is available{{^}}not available{{/if}} : last checked <span id="date">{{{datetime lastCheckDate}}}</span></p>
    <img id="checkForUpdate" src="images/update.png" alt="update"/>
  </div>

  <div class="loading-message"><p>Loading...</p></div>
</div>
