<h1>Open Wireless</h1>
<h4>Administrator Login</h4>
<form>
  <div id="genericError" class="inputError"></div>
  <input type="password" placeholder="Administrator password" id="password"/><br>
  <input type="checkbox" id="showPassword"><label for="showPassword">Show password</label><br>
  <div id="passwordError" class="inputError"></div>
  <input type="submit" value="Login"/>
</form>
