<h1>Restarting</h1>
<p>SSID updated. Your router is now restarting.<p>
<p>Please connect to your new network <b>{{ssid}}</b> when it becomes available.</p>
<a href='dashboard.html'>View Router Dashboard</a>
